/* Reset básico que vi em video */
body {
  font-family: sans-serif;
  background-color: #008C93;
  color: #000000;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* CABEÇALHO */
.cabecalho {
  background-color: #D9D9D9;
  padding: 30px 0;
  width: 100%;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu {
  margin-top: 20px;
}

.menu-lista {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 35px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.item {
  margin-left: 25px;
  text-decoration: none;
  background-color: #D85F80;
  padding: 8px 20px;
  color: white;
  border-radius: 8px;
  font-weight: 1000;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: -20px;
}

.logo {
  width: 80px;
}

.texto-logo-h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #D85F80;
  line-height: 1;
}

.texto-logo-p {
  margin: 0;
  font-size: 14px;
  color: #008C93;
  letter-spacing: 1px;
  margin-top: 2px;
}


/* SECTION MAIN */
.section-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  margin-top: -48px;
}

.lado-esquerdo {
  flex: 1;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 500px;
}

.search-bar-input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid #cccccc;
  border-right: none;
  border-radius: 20px 0 0 20px;
  font-size: 15px;
  outline: none;
}

.search-bar-button {
  padding: 10px 15px;
  border: 1px solid #cccccc;
  color: #555;
  border-radius: 0 20px 20px 0;
  font-size: 15px;
}

.search-bar-button:hover {
  background-color: #f7be22;
}

.lado-direito {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;   
  padding: 0;
}

.gata-main {
  width: 280px;
  height: auto;
  margin-right: -40px;  
}

/* RETÂNGULO */
.retangulo {
  background-color: #D85F80;
  width: 100%;
  padding: 20px 0; /* sem padding lateral */
  margin-top: -50px;
}

/* LISTA DE CARDS */
.section-card {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  flex-wrap: wrap;
}

/* CARD */
.section-card-article {
  background-color: white;
  width: 160px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.section-card-article:hover{
    background-color: #f7be22;
} 


.section-card-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.section-card-figcaption {
  font-size: 13px;
  margin-top: 5px;
  color: #555;
}

/* Título amarelo */
.card-title {
  background-color: #ffd84d;
  padding: 4px 6px;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 15px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Preço */
.card-price {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0 5px 0;
}

/* Descrição */
.card-desc {
  font-size: 13px;
  color: #666;
  min-height: 40px;
}

/* FOOTER */
footer {
  background-color: #E7E7E7;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 40px;
  font-family: sans-serif;
}

.footer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-box-footer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: -20px;
}

.logo-footer {
  width: 80px;
}

.footer-texto-logo-h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #D85F80;
  line-height: 1;
}

.footer-texto-logo-p {
  margin: 0;
  font-size: 14px;
  color: #008C93;
  letter-spacing: 1px;
  margin-top: 2px;
}

.footer-subtexto {
    font-weight: 1000;
}


footer figure {
  margin: 0;
}

/* Títulos */
footer h3 {
  margin: 5px 0;
  font-size: 18px;
  color: #f7be22;
}


footer p {
  margin: 3px 0;
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

.verde-driel{
    margin: 3px 0;
  font-size: 14px;
  text-decoration: none;
  color: #008C93;
}

.rose-mary{
    margin: 3px 0;
  font-size: 14px;
  text-decoration: none;
  color: #D85F80;
}

footer a:hover {
  text-decoration: underline;
  color: #008C93;
}

.footer-ul {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

.footer-contato {
  color: #D85F80;
  font-weight: bold;
}
.footer-contato-verde {
  color: #008C93;
  font-weight: bold;
}

/* PAG DE DETALHES */

.box-rosa {
  background-color: #D85F80;
  width: 50%%;
  padding: 20px;
  margin-top: -50px;
}

.box-modelos {
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.container-images {
    display: flex;
    margin-top: 60px;
    gap: -50px;
}

.imagem-principal{
    width: 380px;
    height: auto;
    max-height: 500px;
    margin-bottom: 20px;
    background-color: #fff;
    position: relative;
}

.modelo {
    justify-content: space-between;
    width: 170px;
    height: auto;
}

.main-opcoes {
    display: flex;   
    gap: 10px;
}

.h3-opcoes {
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

.opcoes-tamanho {
    display: flex;
    gap: 5px;
}


.opcao-tamanho {
    margin-top: -10px;
    display: flex;
    font-weight: 900;
    color: #008C93;
    padding: 5px 4px;
    border: solid 2px #white;
    border-radius:20px;
    font-weight: bold;
    background-color: white;
    justify-content: center;
    width: 30px;
}



.box-cores {
    background-color: white;
    padding: 0; 
    width: auto;
    display: flex;
   justify-content: space-between;
    align-items: center; 
    gap: 10px;
    border-radius: 8px; 
}



.opcoes-cores {
    display: flex;
    gap: 5px;
    justify-content: center;
}


.opcao-cor {
    margin-top: -10px;
    display: flex;
    padding: 5px 4px;
    border-radius:20px;
    font-weight: bold;
    background-color: white;
    width: 35px;
    height: 25px;
}

.cor-rosa{
 background-color: #F3398A;
}

.cor-azul{
 background-color: #4B96ED;
}

.cor-vermelha{
 background-color: #FF2600 ;
}

/* pag de contato */

/* Topo amarelo com texto centralizado */


/* Formulário */
.form {
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

/* Título com fundo amarelo dentro do formulário */
.titulo-amarelo {
    background-color: #ffeb3b; /* amarelo */
    margin: 0;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 2em;
    color: #D85F80;
}

/* Parágrafo discreto abaixo do título */
.paragrafo-discreto {
    padding: 15px 20px;
    margin: 0;
    color: #16213e;
    font-size: 0.95em;
}

/* Labels */
.label {
    font-weight: 500;
    color: #16213e;
    margin: 10px 20px 5px 20px;
}

/* Inputs e textarea */
.input-textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #f189d2;
    font-size: 16px;
    margin: 0 20px 10px 20px;
}

/* Botão centralizado */
.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.button {
    width: 150px;
    padding: 10px;
    background-color: #D85F80;
    color: white;
    font-weight: bold;
    border: none;
    font-weight: 900;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #f50b64;
}
